* {
    box-sizing: border-box;
}
body {
       font-family: 'arial', sans-serif;
}
.scene {
     width: 100%;
     height: 100%;
	 min-height: 700px;
	 position: relative;
	 top: 0px;
	 left: 0px;
	 background-color: #B0C4DE;
	 transform: translate3d(0, 0, 0);
}
.layer-5 {
     animation: animation_fg linear 70s infinite both; 
	 background: url(https://rawcdn.githack.com/Viktorrrrriia/Pictures-for-veb-design/bb8459637b8bc6b9e71eadcaf63cfbaa03afc7ab/%D0%9A%D0%BE%D1%81%D0%BC%D0%BE%D1%811.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 700px;
}
.layer-4 {
     animation: animation_fg linear 60s infinite both; 
	 background: url(https://rawcdn.githack.com/Viktorrrrriia/Pictures-for-veb-design/bb8459637b8bc6b9e71eadcaf63cfbaa03afc7ab/%D0%BA%D0%BE%D1%81%D0%BC%D0%BE%D1%81.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 700px;
}
.layer-3 {
     animation: animation_fg linear 55s infinite both; 
	 background: url(https://rawcdn.githack.com/Viktorrrrriia/Pictures-for-veb-design/bb8459637b8bc6b9e71eadcaf63cfbaa03afc7ab/%D0%90%D1%81%D1%82%D0%B5%D1%80%D0%BE%D0%B8%D0%B4%D1%8B.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 700px;
}
.layer-2 {
     animation: animation_fg linear 35s infinite both; 
	 background: url(https://rawcdn.githack.com/Viktorrrrriia/Pictures-for-veb-design/34125b147f9689a51d8858762de096cf7fbaaa76/%D0%97%D0%B5%D0%BC%D0%BB%D1%8F.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 300px;
}
.layer-1 {
     animation: animation_fg linear 35s infinite both; 
	 background:  url(https://rawcdn.githack.com/Viktorrrrriia/Pictures-for-veb-design/34125b147f9689a51d8858762de096cf7fbaaa76/%D0%9B%D1%83%D0%BD%D0%B0.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 400px;
}
.object-1 {
     background: url(https://rawcdn.githack.com/Viktorrrrriia/Pictures-for-veb-design/bb8459637b8bc6b9e71eadcaf63cfbaa03afc7ab/%D0%9A%D0%BE%D1%81%D0%BC%D0%BE%D0%BD%D0%B0%D0%B2%D1%82.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 700px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 100px;
	 animation: animation_object linear 15s infinite both;
}
.object-2 {
     background:  url (https://rawcdn.githack.com/Viktorrrrriia/Pictures-for-veb-design/bb8459637b8bc6b9e71eadcaf63cfbaa03afc7ab/%D0%A0%D0%B0%D0%BA%D0%B5%D1%82%D0%B0.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 100px; 
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 200px;
	 animation: animation_object linear 10s infinite both;
}
.object-2 {
     animation: animation_object object-2 linear 10s infinite both;
}
@keyframes animation_fg {
 0% {
background-position: 2765px 100%;
}
100% {
    background-position: 550px 100%;
  }
}
@keyframes animation_object {
0% {
background-position: -300px 100%;
}
  100% {
background-position: 2000px 100%;
}
}
